@import "/home/archyper/.cache/wal/colors-waybar.css";

* {
  font-family: Hack Nerd Font Propo;
  font-size: 14px;
  border: none;
  margin: 0;
  padding: 0;
}

#waybar {
  padding: 0px;
  margin: 0px;
}


window#waybar {
   background: transparent;
}


/*-----module groups----*/
/*-----modules indv----*/
#workspaces button {
  padding: 0px 8px;
  margin: 0px 2px;
  border-radius: 16px; /* skruglenie */
  border: 1px solid rgba(255, 255, 255, 0.15);
  background: @color9;
  color: @foreground;
  font-weight: bold;
}

#workspaces button.active{
  padding: 0px 8px;
  margin: 0px 2px;
  border-radius: 16px; /* skruglenie */
  border: 1px solid rgba(255, 255, 255, 0.15);
  background: @background;
  color: @color9;
  font-weight: bold;
    
}
#workspaces button:hover{
  padding: 0px 8px;
  margin: 0px 2px;
  border-radius: 16px; /* skruglenie */
  border: 1px solid rgba(255, 255, 255, 0.15);
  background: @color3;
  color: @color10;
  font-weight: bold;
  transition: none;
    
    

}

#clock, 
#custom-temp,
#custom-pomodoro,
#cpu,
#memory,
#tray,
#pulseaudio,
#custom-button {
  padding: 0px 10px;
  margin: 0px 2px;
  border-radius: 16px; /* skruglenie */
  border: 1px solid rgba(255, 255, 255, 0.15);
  background: @color9;
  color: @foreground;
  font-weight: bold;
}
